include README.rst
include LICENSE.txt
include MANIFEST.in
include requirements.txt
include setup.py
include timeboard/VERSION.txt

graft timeboard

graft doc/source
prune doc/source/_build
prune doc/source/.ipynb_checkpoints

global-exclude *.py[co]
global-exclude __pycache__
prune timeboard/**/.cache
